body {
  background-image: url("https://media.istockphoto.com/id/1257951336/photo/transparent-umbrella-under-rain-against-water-drops-splash-background-rainy-weather-concept.jpg?s=612x612&w=0&k=20&c=lNvbIw1wReb-owe7_rMgW8lZz1zElqs5BOY1AZhyRXs=");
  background-repeat: no-repeat;
  background-size: cover;
}
i {
  display: block;
  margin: 0 5px 0 400px;
}
h4 {
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  font-size: 25px;
  line-height: 50px;
  margin: 15px auto 0;
}
h1 {
  font-family: "Azeret Mono", monospace;
  font-weight: 100;
  line-height: normal;
}

h5 {
  padding: 0 15px;
  margin-top: 60px 0 0 10px;
  font-weight: 900;
  font-family: monospace;
}

.container {
  margin: 0;
}
.search {
  max-width: 100%;
  display: flex;
  margin: 0;
  font-size: 16px;
  line-height: normal;
}
.textForm {
  width: 600px;
  height: 55px;
  background: #fff;
  border: 1px solid #bbe4e9;
  margin: 50px auto;
  border-radius: 20px 0 0 20px;
}
.submitBtn {
  width: 100px;
  height: 55px;
  color: #fff;
  background: rgb(127, 167, 167);
  border: 1px solid #bbe4e9;
  margin: 50px auto;
  border-radius: 0 20px 20px 0;
}
.buttonLocate {
  display: flex;
  justify-content: left;
  width: 300px;
  margin: 50px 0 50px 70px;
}
.formBtn {
  height: 55px;
  width: 150px;
  font-size: 15px;
  color: #fff;
  background: rgb(236, 236, 102);
  border: 1px solid #bbe4e9;
  padding: 10px;
}
.location-details {
  margin: 0 auto;
}
.text {
  font-weight: 500;
}
.weather-condition {
  text-align: center;
}
.date {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
}
.card-body {
  border: 1px solid #bbe4e9;
  background: #bbe4e9;
}
.card-body2 {
  border: 1px solid #bbe4e9;
  background: rgb(127, 167, 167);
}
.card-sec1 {
  font-weight: 200;
}
.card-view {
  text-align: right;
}
.sunny {
  font-size: 70px;
}
.weather-view {
  margin: 100px 0 0;
}
.moji_1 {
  font-size: 50px;
}
.moji_2 {
  font-size: 50px;
}
.days {
  display: block;
}

.today {
  text-align: center;
  margin: 0;
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
}
.forecast {
  text-align: center;
  margin: 0 0 20px 0;
  background: #bbe4e9;
  border: 1px solid rgb(127, 167, 167);
  border-radius: 20px 0 20px 0;
  box-shadow: 3px 3px 3px 3px rgb(201, 204, 204);
}
.summary {
  font-size: 25px;
  font-family: monospace;
  font-weight: 900;
}
.WD-today {
  margin: 20px auto 10px;
}
.text-1 {
  padding: 0 15px;
}
.moji_1 .moji_2 {
  margin: 0 auto;
}
